:root {
    --dark: #000000;
    --light: #14213d;
    --laranja: #fca311;
    --cinza: #e5e5e5;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Gravitas One", serif;
    scroll-behavior: smooth;
}

body {
    color: white;
}

nav {
    position: fixed;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 15px var(--dark);
} 

nav a {
    color: var(--laranja);
    text-decoration: none;
    font-size: 18px;

}

#s1 {
    min-height: 100vh;
    padding-top: 50px;
}
#s2 {
    min-height: 100vh;
    padding-top: 50px;
}
#s3 {
    min-height: 100vh;
    padding-top: 50px;
}
#s4 {
    min-height: 100vh;
    padding-top: 50px;
}