:root {
    --dBlue: #05122d;
    --mBlue: #142750;
    --laranja: #fca311;
    --cinza: #e5e5e5;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Gravitas One", sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    background-color: var(--dBlue);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: var(--dBlue) 0px 5px 15px;
    animation: fromTop 1s ease-in-out;
    z-index: 999;
}

@keyframes fromTop {
    0% {
        transform: translateY(-100px);
    }

    100% {}
}

nav a {
    color: var(--laranja);
    text-decoration: none;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
}

nav a:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    color: var(--light);
}

#s1 {
    min-height: 80vh;
    padding-top: 50px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.imgStyle {
    width: auto;
    height: 300px;
}

.imgStyle:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.imgDiv {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    overflow: hidden;
    box-shadow: 0px 3px 10px black;
    border: #fca311 1px solid;
}

.textDiv {
    width: 600px;
    height: 300px;
    background-color: lightgreen;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#s2 {
    color: var(--light);
    min-height: 100vh;
    background-image: url("./images/ts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#s2 h1 {
    font-size: 56px;

}

.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    padding: 20px;
}

.cards{
    border: 3px solid var(--light);
    padding: 20px;
    background-color: #00000084;
    border-radius: 20px;
    transition: all 200ms linear;
}

.cards:hover{
    box-shadow: 0px 3px 30px var(--cinza);
}

.cards h3{
    color: var(--laranja);
    text-shadow: 0px 3px 10px var(--laranja);
    font-size: 26px;
    margin-bottom: 20px;
}

.cards a{
    color: var(--laranja);
    font-style: italic;
}

hr{
    margin-bottom: 20px;
    margin-top: 10px;
}

#s3 {
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.videoStyle{
    width: 800px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px black;
}

#s4 {
    min-height: 100vh;
    padding-top: 50px;
}
footer {
    background-color: var(--cinza);
    color: var(--light);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--cinza) 0px -5px 15px;
    gap: 25px;
}
footer img{
    width: 25px;
    height: auto;
    
}
footer img:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 3px 10px black;
}

@media (width <=1000px) {
    #s1 {
        height: auto;
        min-height: 85vh;
    }

    .textDiv {
        width: 100%;
    }

    .textDiv h2 {
        font-size: 30px;
    }

    .textDiv p {
        font-size: 15px;
    }

    .imgDiv {
        margin-top: 50px;
    }

    #s3{
        padding: 20px;
    }
    .videoStyle{
        width: 100%;
        height: auto;
        min-height: 300px;
        max-height: 400px;
    }
}